# SPDX-FileCopyrightText: 2026 Arm Limited and/or its affiliates <open-source-office@arm.com>
#
# SPDX-License-Identifier: Apache-2.0

If:
  PathMatch: kleidicv/src/.*_sc\.h
CompileFlags:
  CompilationDatabase: None
  Add:
    - -xc++-header
    - --target=aarch64-linux-gnu
    - -std=gnu++17
    - -I../../include
    - -I../../../include
    - -I../../../../include
    - -I../../../build/kleidicv/kleidicv/include
    - -I../../../../build/kleidicv/kleidicv/include
    - -I../../../../../build/kleidicv/kleidicv/include
    - -march=armv9-a+sme2
    - -DKLEIDICV_TARGET_SVE2=1
    - -DKLEIDICV_TARGET_SME=1
    - -DKLEIDICV_TARGET_SME2=1
