# SPDX-FileCopyrightText: 2024 Arm Limited and/or its affiliates <open-source-office@arm.com>
#
# SPDX-License-Identifier: Apache-2.0

---
Checks: >-
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-macro-parentheses,
  -bugprone-narrowing-conversions,
  cert-*,
  clang-analyzer-core*,
  clang-analyzer-cplusplus*,
  clang-analyzer-security*,
  clang-analyzer-unix.*,
  misc-new-delete-overloads,
  performance-*,
  -performance-enum-size,
  readability-*,
  -readability-convert-member-functions-to-static,
  -readability-identifier-length,
  -readability-implicit-bool-conversion,
  -readability-isolate-declaration,
  -readability-magic-numbers,
  -readability-named-parameter,
  -readability-redundant-inline-specifier
WarningsAsErrors: '*'
HeaderFilterRegex: '(intrinsiccv|test)/.*'
FormatStyle: google
...
